{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Create Training Program</h1>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h6>Instructions</h6>
            </div>
            <div class="card-body">
                <small>
                    <ul>
                        <li>Fill in all training program details</li>
                        <li>Set appropriate capacity for the training</li>
                        <li>After creating, you'll set selection criteria</li>
                        <li>The system will automatically generate attendee list</li>
                    </ul>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}